*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
     max-width: 100%;
     height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../image/manali.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.2);
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
    
}
nav  .logo{
    width: 25%;
    text-align: center;
    animation:10s infinite linear;
    color: #fff;
    text-shadow: 2px 1px 5px black;
    /*background: red;*/
}
nav  .logo:hover{
    color: #00b894;
    text-shadow: 2px 1px 5px black;

}
nav   .menu{
     width: 40%;
     /*background: yellow;*/
     display: flex;
     justify-content: space-around;
}
nav  .menu  a{
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    
}
nav  .menu  a:hover{
    color: #00b894;
    font-weight: bold;  
    text-shadow: 2px 1px 5px black;  
}

main
{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
     text-shadow: 1px 1px 1px black;
}
section h1{
    margin: 3px 0 2px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}
section p{
    font-size: 25px;
    color: white;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;

}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}
section .btnone{
    background: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 2em 2em;

}
.btnone:hover{
    background: #00b894;
    color: white;
    font-weight: bold;
    border-radius: 2em 2em;
}

section .btntwo{
    background: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 2em 2em;
}
.btntwo:hover{
    background: #00b894;
    color: white;
    font-weight: bold;
    border-radius: 2em 2em;
}
.change:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
}
@keyframes changetext{
   0%{content: "Nagpur";}
   20%{content: "Delhi";}
   35%{content: "Noida";}
   60%{content: "Mumbai";}
   75%{content: "Indor";}
   100%{content: "Pune";}
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content{
     max-width: 800px;
     text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.container{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo  .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo  .box  .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px ;
}

.container .contactInfo  .box  .icon .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
} 
.container .contactInfo  .box  .icon .text h3{
    font-weight: 500;

}
.contactForm{
    width:40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-size: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00b894;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    

}